.headerimg {
    width: 12vh;
    height: 10vh;
}

.sliderImg {
    height: 60vh !important;
    width: auto !important;
    margin: auto;
}

@media only screen and (max-width: 794px) {
    .sliderImg {
        height: auto !important;
        width: 95vw !important;
        margin: auto;
    }
}

.carousel-control-prev 
.carousel-control-next {
  color:black;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}


.post_img {
    width: 65%;
    height: auto;
}

.btn_link {
    color: #fff;
}

.footer_email,
.footer_email:hover {
    color: #fff;
}

.footer_email_dark,
.footer_email_dark:hover {
    color: #000;
}