.headerimg {
    width: 12vh;
    height: 10vh;
}

.sliderImg {
    height: auto !important;
    width: 90% !important;
    padding-left: 10%;
}

.carousel-control-prev 
.carousel-control-next {
    color: black;
}

.post_img {
    width: 65%;
    height: auto;
}